.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.green{
    background-color: green;
}
.pdding-1{
    padding: 10px;
}
.pdding-2{
    padding: 55px;
}