.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1C2B35;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
.menu-container a{
    margin-left: 20px;
}
.menu-container a:hover{
    color: orange;
}